.header{
	color: greenyellow;
}

#id{	
	color: lightslategray;
}

.Zagolovki{
	color: maroon;
}

.all_ul_ol{
	color: mediumslateblue;
}

.ul1{
	color: olive;
}

.ol1{	
	color: rgb(25, 194, 109);
}